<html>
	<head>
		<title>cnx测试</title>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
		<link rel="stylesheet" href="/css/jquery-ui-1.8.16.custom.css" type="text/css" media="screen" />
		<link rel="stylesheet" href="/css/jquery.ui.chatbox.css" type="text/css"/>
		<script type="text/javascript" src="/js/jquery-1.6.2.min.js"></script>
		<script type="text/javascript" src="/js/jquery-ui-1.8.16.custom.min.js"></script>
		<script type="text/javascript" src="/js/jquery.ui.chatbox.js"></script>
		<script type="text/javascript" src="http://127.0.0.1:8000/socket.io/socket.io.js"></script>
		<script type="text/javascript">
			function clear_blink(oldTitle) {
				clearInterval(g_timeout_id);
				g_timeout_id = null;
				document.title = oldTitle;
				document.onmousemove = null;
				document.onkeydown = null;
			}
			function blink_info(msg) {
				var oldTitle = document.title;
				if (typeof(g_timeout_id) != "undefined" && g_timeout_id) {
					clearInterval(g_timeout_id);
				}
				g_timeout_id = setInterval(function() {
					document.title = document.title == msg ? ' ' : msg;
					msg=msg.substr(1)+msg.charAt(0);	
				}, 100);
				document.onmousemove = function() { clear_blink(oldTitle); };
				document.onkeydown = function() { clear_blink(oldTitle); };
			}
			$(document).ready(function(){
				var socket=io.connect('http://127.0.0.1:8000');
				var box=null;
				var name='admin';
				
				socket.emit('new user',name);
				socket.on('from server',function(data){
					if(box)
						box.chatbox("option","boxManager").toggleBox();
					else
					box=$("#chatbox").chatbox({id:"chatbox",title:"To Admin",user:"client",hidden:"True",offset:200,
						messageSent:function(id,user,msg){
							socket.emit('from client',{id:name,msg:msg});
							box.chatbox("option","boxManager").addMsg(name,msg);
						}
					});
					//console.log(data);
					var user=data['id'];
					var msg=data['msg'];
					blink_info(user+'来消息了');
					box.chatbox("option","boxManager").addMsg(user,msg);
				});
			});
		</script>
		</head>
		<body>
			<div id="chatbox">
			</div>
		</body>
</html>
