!!! transitional
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    title cnx聊天系统后台管理
    link(rel='stylesheet',type='text/css',href='/css/jquery-ui-1.8.16.custom.css')
    link(rel='stylesheet',type='text/css',href='/css/jquery.ui.chatbox.css')
    script(src='/js/jquery-1.6.2.min.js')
    script(src='/js/jquery-ui-1.8.16.custom.min.js')
    script(src='/js/jquery.ui.chatbox.js')
    script(src='/js/socket.js')
    link(rel='stylesheet', type='text/css', href='/css/style.css')
  body!=body